.app-wrapper {
    display: grid;

    grid-template-areas:
    "head head"
    "nav cont";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: head;
    background-color: #fffebe;
}
.header  img {
    width: 50px;
}

.nav {
    grid-area: nav;
    background-color: #f1fbff;
}

.content {
    grid-area: cont;
    background-color: whitesmoke;
}